<script>
  var post_method = "<%= current_user.setting.post_method %>";
</script>
<div class="chat-view default-media"></div>
<div class="chat-input">
  <textarea class="form-control chat-message" type="text" rows="3">
  </textarea>
</div>
